
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Titillium+Web');
body 
{
    background:#111111;
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
}
.content{
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 2.5em;
    height: 30px;
    margin-bottom: 1em;
}
.btn{
    color: #eeeeee;
    background-color: #11111100;
    border-style: solid;
    border-color: #eeeeee;
    width:100px;
}

.btn:hover {
    color: #eeeeee;
    background-color: #eeeeee22;
}
@media screen and (max-width: 454px) {
    .content{
        width: 100%;
        height: 100%;
    }

    .title{
        height: 75px;
    }
    .btn{
        align-self: center;
        position: absolute;
        bottom: 20px
    }
}