
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Titillium+Web');
body 
{
    background:#111111;
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
}
.content{
    margin-top: 5%;
    margin-left: 2%;
}
.title{
    font-size: 2.5em;
    height: 30px;
    margin-bottom: 1em;
}
.btn{
    color: #eeeeee;
    background-color: #11111100;
    border-style: solid;
    border-color: #eeeeee
}

.btn:hover {
    color: #eeeeee;
    background-color: #eeeeee22;
}